services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "5001:27017"
    volumes:
      - mongo-data:/data/db
    env_file:
      - ./.env

volumes:
  mongo-data:
    driver: local
