services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "5001:27017"
    volumes:
      - mongo-data:/data/db
    env_file:
      - ./.env
    networks:
      - db
  mongo_admin:
    image: mongo-express:latest
    container_name: mongo_admin
    ports:
      - "5002:8081"
    env_file:
      - ./.env
    depends_on:
      - mongodb
    networks:
      - db
volumes:
  mongo-data:
    driver: local
networks:
  db:
    driver: bridge
